*,
html {
	font-family: Poppins, sans;
	box-sizing: border-box;
}

body {
	color: #fafafa;
	margin: 0px;
	background-color: #000;
}

h1 {
	text-align: center;
}

form {
	width: 425px;
	margin: 2rem auto;
}

fieldset {
	border: 1px solid #111;
	border-radius: 7px;
	padding: 2rem;
	background-color: #111;
}

#celebEle {
	margin-top: 1rem;
	text-align: center;
}

.row {
	display: flex;
	align-items: center;
}

h4 {
	flex: 1;
}

#dateEle {
	flex: 1;
	padding: 8px;
}

#checkBtn {
	color: #fafafa;
	margin-top: .75rem;
	padding: 11px;
	width: 100%;
	display: inline-block;
	border: none;
	border-radius: 2px;
	background-color: #222;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 400ms;
}

#checkBtn:hover {
	background-color: #000;
}